@import url("https://fonts.cdnfonts.com/css/sofia-sans");

/* :root {
  --blue: #007bff;
} */


/* Mixins */
@mixin flex-center($display: flex, $justify: space-between, $align: center) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition-ease($duration: 0.3s, $property: all, $ease: ease) {
  transition: $duration $property $ease;
}

@mixin button-style($bg-color: var(--primary), $text-color: white) {
  text-decoration: none;
  border: 0;
  color: $text-color;
  background: $bg-color;
  @include transition-ease();
}

@mixin hover-border-color($color) {
  cursor: pointer;
  border-color: $color;
}


/* Header */
.header {
  background: linear-gradient(
    90deg,
    rgba(235, 244, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 10px;
  @include flex-center();
  border-bottom: 3px solid var(--primary);
  font-family: "Unbounded", sans-serif;
  font-weight: 400;
}

.navbar {
  @include flex-center();
  width: 100%;
}

.logo {
  font-size: 14pt;
  font-weight: 900;
  color: var(--primary);
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  gap: 10px;
  @include flex-center(inline-flex);
  @include transition-ease();

  i {
    font-size: 16pt;
  }

  &:hover {
    @include hover-border-color(var(--primary));
  }
}

.nav-start,
.nav-end {
  display: flex;
}

.nav-start {
  gap: 10px;
}

.nav-end {
  align-items: stretch;
  gap: 10px;
}

.nav-links {
  display: flex;
  gap: 10px;
  border-left: 2px solid var(--primary);
  padding-left: 10px;
}

.header-login,
.header-register,
.header-create,
.header-logout {
  padding: 10px 15px;
  font-family: "Sofia Sans", sans-serif;
  font-size: 14pt;
  border-radius: 5px;
}

.nav-links a,
.header-login,
.header-logout {
  @include button-style();
}

.header-login:hover,
.header-logout:hover {
  background-color: #222222;
  cursor: pointer;
}

.nav-links a:hover {
  color: var(--primary);
}

.header-register,
.header-create {
  background: none;
  @include transition-ease(0.25s);

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.header-register {
  border: 2px solid var(--black);
  color: var(--black);

  &:hover {
    background: var(--black);
  }
}

.header-create {
  border: 2px solid var(--primary);
  color: var(--primary);
  gap: 5px;
  @include flex-center(inline-flex);

  i {
    font-size: 18pt;
  }

  &:hover {
    background: var(--primary);
  }
}


/* Dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: "Sofia Sans", sans-serif;

  &:hover .dropdown-btn {
    @include hover-border-color(var(--gray));
    color: black;
    border-bottom: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
    border-radius: 5px 5px 0 0;
  }
}

.dropdown-btn {
  background: none;
  color: var(--primary);
  font-family: "Sofia Sans", sans-serif;
  font-size: 14pt;
  border: 1px solid transparent;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  gap: 5px;
  @include flex-center();
  @include transition-ease();

  i {
    font-size: 18pt;
  }

  &:hover {
    @include hover-border-color(var(--gray));
    border-bottom: none;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.5);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 0 5px 5px 5px;
  border: 1px solid var(--gray);

  .dropdown-item {
    padding: 5px;
    @include flex-center(flex, space-between, stretch);
    max-height: 57px;
    width: 560px;

    & > div {
      padding: 5px 10px;
    }

    &:hover {
      background-color: var(--gray);
      @include transition-ease(0.25s);
    }

    &:first-of-type {
      border-radius: 0 5px 0 0;
    }

    &:last-of-type {
      border-radius: 0 0 5px 5px;
    }

    .dropdown-project-icon {
      border-radius: 5px;
      width: 10%;
      @include flex-center(flex, center, center);

      i {
        font-size: 24pt;
      }
    }

    .dropdown-project-info {
      display: flex;
      flex-direction: column;
      min-width: 150px;
      gap: 5px;
      width: 70%;

      .dropdown-project-title {
        font-weight: 900;
        font-size: 14pt;
        color: var(--black);
      }

      .dropdown-project-description {
        font-size: 12pt;
        color: var(--black);
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        text-wrap: balance;
        text-overflow: ellipsis;
      }
    }

    .dropdown-project-last-access {
      font-size: 12pt;
      border-radius: 5px;
      border: 2px solid transparent;
      color: var(--black);
      width: 22.5%;
      @include flex-center();

      i {
        font-size: 18pt;
        margin-right: 5px;
      }
    }

    .importance {
      @include flex-center(flex, center, center);
      border: 2px solid transparent;
      border-radius: 5px;

      i {
        font-size: 24pt;
      }
    }
  }

  .dropdown:hover & {
    display: block;
  }
}

/* Nav Tools */
.nav-tools {
  @include flex-center(inline-flex, space-between, stretch);
  gap: 5px;

  .navbar-btn {
    color: var(--primary);
    padding: 0 10px;
    // border: 2px solid var(--blue);
    border: none;
    border-radius: 5px;
    font-size: 14pt;
    @include flex-center(inline-flex);
    @include transition-ease(0.25s);

    i {
      font-size: 16pt;
    }

    &:hover {
      background-color: var(--primary);
      color: white;
      cursor: pointer;
    }
  }
}

/* Header Profile */
.header-profile {
  @include flex-center(inline-flex);
  height: 100%;
  gap: 10px;
  padding: 2.5px 10px;
  border: 2px solid var(--black);
  border-radius: 5px;
  color: var(--black);
  @include transition-ease(0.25s);

  &:hover {
    background-color: var(--black);
    color: white;
    cursor: pointer;
  }

  .user-name {
    font-size: 14pt;
    font-family: "Sofia Sans", sans-serif;
    font-style: italic;
    font-weight: bold;
  }

  .user-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
  }
}