:root {
    --primary: #007bff;
    /* --primary: #8c00ff; */


    --black: #141E1D;
    --gray: #CCD4DD;
    --light: #F9F9F9;
    /* --gray: #616161; */

    /* --primary: #446063; */
}


.available-colors {
    color: #FF5733; 
    /* яскравий помаранчевий */
    color: #33FF57; 
    /* яскравий зелений */
    color: #3357FF; 
    /* насичений синій */
    color: #FF33A1; 
    /* рожевий фуксія */
    color: #FFD700; 
    /* золотий */
    color: #00CED1; 
    /* темний бірюзовий */
    color: #FF4500; 
    /* оранжево-червоний */
    color: #32CD32; 
    /* лаймовий */
    color: #8A2BE2; 
    /* синьо-фіолетовий */
    color: #20B2AA; 
    /* світлий морський */
    color: #FF6347; 
    /* томатний */
    color: #4682B4; 
    /* стальний синій */
    color: #DA70D6; 
    /* орхідея */
    color: #5F9EA0; 
    /* сіро-блакитний */
    color: #FFA07A; 
    /* світлий лососевий */
    color: #7FFF00; 
    /* яскраво-зелений */
    color: #FF69B4; 
    /* гарячий рожевий */
    color: #CD5C5C; 
    /* індійський червоний */
    color: #87CEEB; 
    /* небесно-блакитний */
    color: #6B8E23; 
    /* оливково-зелений */
    color: #FFB6C1; 
    /* світло-рожевий */
    color: #8B0000; 
    /* темно-червоний */
    color: #40E0D0; 
    /* бірюзовий */
    color: #ADFF2F; 
    /* жовто-зелений */
    color: #BA55D3; 
    /* середній пурпурний */
    color: #FF8C00; 
    /* темний оранжевий */
    color: #4169E1; 
    /* королівський синій */
    color: #DAA520; 
    /* золотисто-коричневий */
    color: #9932CC; 
    /* темний фіолетовий */
    color: #F08080; 
    /* світло-кораловий */
}