@import url('https://fonts.cdnfonts.com/css/unbounded');

.header {
    background: rgb(235,244,255);
    background: linear-gradient(90deg, rgba(235,244,255,1) 0%, rgba(255,255,255,1) 100%);
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--blue);
    border-radius: 0 0 15px 15px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 18pt;
    color: var(--blue);
    text-decoration: none;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.header-login, .header-register {
    padding: 10px 25px;
    outline: 0;
    font-family: 'Unbounded', sans-serif;
    font-size: 11pt;
    border-radius: 5px;
}

.nav-links a, .header-login {
    text-decoration: none;
    border: 0;
    color: white;
    transition: 0.3s ease;
    background: var(--blue);
}

.header-login:hover {
    background-color: #222222;
    cursor: pointer;
}

.nav-links a:hover {
    color: var(--blue);
}

.header-register {
    background: none;
    position: relative;
    color: var(--blue);
    transition: 0.25s ease;
    border: 2px solid var(--blue);
}

.header-register:hover {
    cursor: pointer;
    color: white;
    border-color: var(--black);
    background: var(--black);
}