body {
    background: rgb(218,255,255);
    background: linear-gradient(45deg, rgba(218,255,255,1) 0%, rgba(202,215,255,1) 30%, rgba(255,237,197,1) 100%);

}

:root {
    --blue: #007bff;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--blue) #f8f9fa;
}

@import url('https://fonts.cdnfonts.com/css/sofia-sans');
@import url('https://fonts.cdnfonts.com/css/unbounded');


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 67px);
    text-align: center;
}

section.content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.text-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 45%;
    gap: 40px;
    margin-left: 2.5%;
}

.text-container h1.title {
    font-size: 44pt;
    font-family: "Sofia Sans", sans-serif;
    text-align: left;
    text-wrap: balance;
    font-weight: 400;
    letter-spacing: -0.1rem;
    margin: 0;
}

.text-container span.description {
    font-size: 18pt;
    font-family: "Sofia Sans", sans-serif;
    font-weight: 400;
    text-wrap: balance;
    text-align: left;
}

.text-container .mainpage-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.text-container button.mainpage-login {
    background: var(--blue);
    color: #fff;
    border: none;
    font-family: 'Unbounded', sans-serif;
    font-size: 16pt;
    padding: 15px;
    border-radius: 8px;
    transition: 0.25s ease;
}

.text-container button.mainpage-register {
    background: none;
    border: 2px solid var(--black);
    color: var(--black);
    font-family: 'Unbounded', sans-serif;
    font-size: 16pt;
    padding: 15px;
    border-radius: 8px;
    transition: 0.25s ease;
}

.text-container button.mainpage-login:hover {
    background-color: #222222;
    cursor: pointer;
}

.text-container button.mainpage-register:hover {
    background-color: var(--black);
    color: #fff;
    cursor: pointer;
}


div.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.image-container img {
    max-width: 100%;
    height: auto;
}